<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>OAuth2 authorization</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/public/oauth-autorize.css" />
        <link rel="stylesheet" href="/public/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">
            <div class="card position-absolute top-50 start-50 translate-middle" style="width: 18rem;">
                <div class="card-header">
                    Authentification OAuth2
                </div>
                <div class="card-body">
                    <h5 class="card-title">Autorisation d'une application tierce</h5>
                    {{#if error}}
                    <p class="card-text text-danger">
                        Cette application tierce n'est pas reconnue par nos services.
                    </p>
                    {{else}}
                    <p class="card-text">
                        L'application <b>{{ client_name }}</b> veut accéder aux informations suivantes :
                        <ul>
                            {{#if scopes.firstname}}
                                <li>Votre prénom</li>
                            {{/if}}
                            {{#if scopes.lastname}}
                                <li>Votre nom de famille</li>
                            {{/if}}
                            {{#if scopes.email}}
                                <li>Votre email</li>
                            {{/if}}
                        </ul>
                    </p>
                    <form method="POST" style="display: inline;">
                        <input type="hidden" name="granted" value="false" />
                        <button class="btn btn-outline-secondary">Annuler</button>
                    </form>
                    <form method="POST" style="display: inline;">
                        <input type="hidden" name="granted" value="true" />
                        <button class="btn btn-primary">Autoriser</button>
                    </form>
                    {{/if}}
                </div>
            </div>
        </div>
    </body>
</html>